.nav {
  display: flex;
  background-color: #1d4ed8;
  color: white;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style-type: none;
  display: flex;
  margin-right: 1rem;
}

.links li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.links a {
  color: white;
}

.logoLink {
  line-height: 0;
  translate: 15px 2px;
}
